@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<h1 style="text-align:center">Welcome To Our Online Store</h1>

<div style="text-align:center">

    <a href="/DisplayProducts">
<img src="~/images/h.jpg"/>
    </a>
</div> 